body{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
}

h1{
    width: 800px;
    height: 60px;
    font-family: Roboto;
    text-align: center;
    font-weight: bold;
}

#photo{
    position: absolute;
    width: 400px;
    height: 280px;
    top: 100px
}

ol{
    position: absolute;
    left: 700px;
    top: 100px;
    width: 300px;
    font-family: Roboto;
    font-weight: bold;
}

footer{
    position: absolute;
    left: 900px;
    top: 400px;
}